<div class="posts">
    <h1>Add post</h1>
    <div class="form">
        <form [formGroup]="postForm">
            <div>
                <label for="title">Title: </label>
                <input type="text" formControlName="title">
            </div>
            <div>
                <label for="text">Text: </label>
                <input type="text" formControlName="text">
            </div>
            <div>
                <label for="name">Name: </label>
                <input type="text" formControlName="name">
            </div>
            <button (click)="post()">Post</button>
        </form>
    </div>

    <h1>Posts</h1>
    <div *ngIf="posts!=undefined">
        <div class="post" *ngFor="let post of posts">
            <h2>UserID: {{post.userId}}, PostID: {{post["id"]}}</h2>
            <h2>{{post["title"]}}</h2>
            <article>{{post["body"]}}</article>
        </div>
    </div>
</div>