<div id="child">
    <header>Wybierz Temat</header>
    <div id="topic-container">
        <div class="topic">
            <header>The Basics</header>
            <article>
                Core Angular basics you have to know
            </article>
            <button (click)="clickButtonBasics()">Learn More</button>
        </div>
        <div class="topic">
            <header>Components</header>
            <article>
                Components are a core Concept for building Angular UIs and apps
            </article>
            <button (click)="clickButtonComponents()">Learn More</button>
        </div>
        <div class="topic">
            <header>Events</header>
            <article>
                Events are important in Angular
            </article>
            <button (click)="clickButtonEvents()">Learn More</button>
        </div>
    </div>
</div>
